<navigation></navigation>

<div class="container">
    <page-header content="vm.pageHeader"></page-header>



    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="error">{{ vm.message }}</div>
        </div>


        <div class="col-xs-12 col-sm-12" role="group">
            <form method="GET" action="/lfacebookogin" name="login">
                <input type="submit" value="Facebook Login" />
            </form>
        </div>

        <footer-generic></footer-generic>
    </div>
</div>