<navigation></navigation>

<div class="container">
    <page-header content="vm.pageHeader"></page-header>



    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="error">{{ vm.message }}</div>
        </div>


        <div class="col-xs-12 col-sm-12" role="group">

            <button type="button" class="btn btn-primary btn-space" ng-click="vm.popupFbLoginForm()">
                login
            </button>
        </div>

        <footer-generic></footer-generic>
    </div>
</div>