<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>

  <div class="row">
    <div class="col-xs-12 col-sm-12">
<!--
      <label for="filter">Filter results</label>
      <input id="filter" type="text", name="filter", ng-model="textFilter">
-->
      <div class="error">{{ vm.message }}</div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <small>{{ vm.sidebar.content }}</small>
    </div>
  </div>

  <footer-generic></footer-generic>
</div>